<body>
    <header>
      <div class="nav-container">
          <img src="/static/images/logo.png" alt="Logo">
  
          <nav>
              <a href="/">Accueil</a>
              <a href="/cats">Catways</a>
              <a href="/reservations">Réservations</a>
              <a href="/utilisateurs">Utilisateurs</a>
          </nav>
      </div>
    </header>
</body>