<body>
    <header>
      <div class="nav-container">
          <img src="/static/images/logo.png" alt="Logo">
  
          <nav>
              <a href="/tableaudebord">Accueil</a>
              <a href="/cats">Catways</a>
              <a href="/resas">Réservations</a>
              <a href="/team">Utilisateurs</a>
          </nav>
      </div>
    </header>
</body>