body {
    background-color: #FFFFFF;
    color: #34495e;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
/* Liens du menu */
header nav a {
    
    color: white;
    margin: 5px;
    font-size: 30px;
    text-decoration: none;
  }
header {
    background-color: #002F6C;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header img {
    width: 160px;
    height: 160px;
    border-radius: 5px;
}

header h1 {
    color: #34495e;
    margin: 0;
    font-size: 2em;
}

main {
    padding: 2em;
}

table {
    margin-left: auto;
    margin-right: auto;
}
#cats-table {
    width: 90%;
    border-collapse: collapse;
    
}

#cats-table th, #cats-table td {
    border: 1px solid #D2B48C;
    padding: 10px;
    text-align: left;
}

#cats-table th {
    background-color: #D2B48C;
    color: #34495e;
}

button {
    background-color: #005fb9;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #D2B48C;
    color: #34495e;
}

footer {
    background-color: #D2B48C;
    color: #34495e;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
